<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>{{ site.title }}</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
	<div class="container">
			<div id="tutup"></div>
			<div class="menu-toggle">
				<input type="checkbox" name="">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
				<div class="my-info">
					<img src="{{ site.picture_url }}">
					<h4>{{ site.username }}</h4>
					<p>{{ site.description }}</p>
				</div>
				<ul>
					<li><a href="{{ site.baseurl }}/">home</a> / </li>
					<li><a href="{{ site.basurl }}/category">category</a> / </li>
					<li><a href="{{ site.baseurl }}/about">about</a> / </li>
				</ul>
			</nav>	

			{{ content }}

 			<footer>
				My Blog & Enjoy.
			</footer>
	</div>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/script.js"></script>
</body>
</html>